/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
} */

/******************************************
/* BASE STYLES
/*******************************************/
body {
  background: #f5f9fc;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
a, 
span {
  color: #304659;
  font-family: 'Jost', sans-serif;
}

a {
  text-decoration: none;
}

p, span {
  font-weight: 300;
}


header {
  /* border: 1px solid black; */
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color:#f5f9fc
}

header img {
  width: 90px;
  height: auto;
  padding-bottom: 5px;
}

header nav li {
  display: inline-block;
  padding: 0 25px;
}

header a {
  font-size: 14px;
}

.button {
  font-weight: 600;
  color:#f5f9fc;
  padding: 8px 30px;
  border: 1px solid #304650;
  background: #304650;
}

main {
  /* border: 1px solid red; */
  float: left;
  /* margin-left: 100px; */
}

.left {
  width: 34%;
  float: left;
  margin-left: 100px;
  /* border: 1px solid black; */
}

.left span, h1, form, p {
  float: left;
}

.left h1 {
  font-size: 45px;
  margin-right: 75px;
}

.left span {
  color: #8197aa;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 75px;
  font-size: 14px;
}

.left p {
  margin-right: 65px;
  padding: 20px 0;
  line-height: -5px;
  /* border: 1px solid black; */
  font-size: 18px;
}

.buttonLink {
  background-color:#304659;
  color: white;
  font-weight: 600;
  padding: 7.5px 30px;
  position: relative;
  top: 1px;
  right: 2px;
  font-size: 14px;
}

input:placeholder-shown {
  color:#304650;
  font-family: 'Jost', sans-serif;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 180px 10px 10px;
  background-color: #e1e9f0;
  border: 1px solid #e1e9f0;
}

.right {
  width: 58%;
  float: right;
}

.right img {
  width: 100%;
  /* border: 1px solid blue; */
}

.icons {
  float: left;
  margin-top: 75px;
}

.icons i {
  padding-right: 140px;
  padding-bottom: 20px;
  margin-left: 100px;
}

.bottom {
  float: left;
  /* border: 1px solid black; */
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 75px;
  margin-left: 100px;
}
.bottom h3 {
  padding-bottom: 10px;
}

.bottom div {
  width: 25%;
  float: left;
  /* border: 1px solid black; */
  padding-right: 25px;
}

.bottom div * {
  float: left;
}

.bottom a {
  font-weight: 600;
  padding-top: 15px;
}

.final {
  float: left;
  background: white;
}

.final h1 {
  padding-top: 35px;
  font-size: 55px;
  margin-left: 100px;
  margin-right: 40%;
}

.final p {
  margin-right: 40%;
  margin-left: 100px;
  font-size: 22px;
  padding-bottom: 75px;
}

.bluePart {
  height: 75px;
  float: left;
  width: 100%;
  background:#e1e9f0;
  display: flex;
}

.one {
  width: 100px;
  background: white;
}

.three {
  width: 100px;
  background: white;
}

.two {
  width: 1200px;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
